---
layout: base.njk
title: Vickie's Practice Site
---

<h2>Documentation</h2>
<ul>
{% for page in collections.docs %} 
  <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
{% endfor %}
</ul>
